/* Vars */

    /* Colors */
    $pink: #D977C7;
    $purple: #9766CC;
    $darkest-purple: #654D80;

    $dark-purple: #896DBF;
    $dark-pink: #BA71CC;
    $medium-pink:#D17CD8;
    $lighter-pink: #E583DC;
    $lightest-pink: #F288D2;

    /* Typography */

    $section-title-font: normal 700 1.5rem 'abril-display', serif;

    $title-abrildisplay: normal 1.5rem 'abril-display', serif;

    $big-title-font: normal 400 4rem 'abril-fatface', serif;

    $paragraph-font: normal 600 1.5rem 'omnes-cyrillic', sans-serif; 

    $title-omnes700: normal 700 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes600: normal 600 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes500: normal 500 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes400: normal 400 1.5rem 'omnes-cyrillic', sans-serif;

/* Fin Vars */

/* Mixin */

@mixin flexbox ($display: inline-block, $position: relative, $align-items: center, $justify-content: flex-end, $wrap: wrap, $box-sizing: border-box, $text-align: right) {
    display: $display;
    position: $position;
    flex-wrap: $wrap;
    align-items: $align-items;
    box-sizing: $box-sizing;
    justify-content: $justify-content;
    text-align: $text-align;
}

@mixin flexcenter ($display: flex, $justify: center, $align: center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin centrado ($align: center, $justify: center) {
    align-items: $align;
    justify-content: $justify;
}

/* Fin Mixin */

/* 
************************** Desktop *****************************
*/
@media only screen and (min-width : 1600px) and (max-device-width : 1919px) {
    /* Intro y Nav */

    .nav-item {
        a {
            font-size: 1.35rem;
        }
    }

    .bg-gradient-hero {
        background-image: linear-gradient(rgba(250, 208, 196, 0.33), rgba(255, 209, 255, 0.33));
        height: 45rem;
        width: 100vw;
    }

    #sakura {
        display: block;
        float: right;
        position: relative;
        padding: 0.25rem 0 0 90rem;
        height: 10.5rem;
    }

    .intro-completo {
        @include centrado;
        display: inline-block;
        margin: 1rem 0 0;

        .contenedor-intro-izq {
            @include centrado;
            display: inline-block;
            position: relative;
            flex-wrap: wrap;
            width: 40rem;
            padding: 1rem 2rem 0 9rem;
            height: 19.125rem;
            margin-right: 2rem;
            box-sizing: border-box;

            .intro {
                font: $section-title-font;
                font-size: 4.3rem;
            }

            .pink {
                color: $pink;
            }
        }

        .professions {
            font-family: omnes-cyrillic, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 2.3rem;
            line-height: 4.0625rem;
        }

        .contenedor-intro-der {
            display: flex;
            float: right;
            position: relative;
            flex-wrap: wrap;
            width: 47rem;
            height: 19.125rem;
            padding: 1rem 5.5rem 0rem 3rem;
            margin-left: 4.5rem;
            margin-top: 1.25rem;
            justify-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;

            #titulo-bio {
                font: $section-title-font;
                font-size: 3.125rem;
            }

            .texto-medio-bio {
                display: block;
                text-align: left;
                font: $title-omnes500;
                font-size: 1.5rem;
                line-height: 2.25rem;
                padding: 1rem 0 0;
            }
        }
    }

    .align-welcome {
        @include flexcenter;
        padding: 2.5rem 0;

        .span-portfolio {
            font: $big-title-font;
            font-size: 5.3125rem;
            line-height: 6rem;
            opacity: 0.3;
            text-align: center;
        }
    }

    h4 {
        font: $big-title-font;
        font-size: 4rem;
    }

    /* Fin Intro y Nav */

    /* Proyectos */

    section {
        h2 {
            font: $title-omnes600;
            font-size: 1.6rem;
            margin: 0.5rem 0;
        }
    }

    .hr-skills {
        display: flex;
        float: left;
        width: 5.5rem;
        border-top: 0.125rem solid $pink;
        margin: 5rem 0 0;
    }

    .titulo-seccion-izq {
        @include flexbox ($text-align: left, $justify-content: flex-start);
        margin: 4.4rem 2rem 1.5rem 1.5rem;
        line-height: 2rem;

        h1 {
            font: $section-title-font;
            font-size: 3.125rem;
            padding: 1.5rem 0 0;
        }
    }

    .titulo-seccion-portfolio {
        @include flexbox;
        float: right;
        margin: 5rem;
        color: $purple;

        h4 {
            font: $big-title-font;
            font-size: 4.5rem;
            opacity: 0.3;
        }
    }

    h5 {
        color: $purple;
        font: $title-omnes700;
        font-style: normal;
        font-size: 1.2rem;
    }

    .inline-list {
        @include flexcenter;
        height: 3.5rem;
        width: 100vw;

        li {
            padding: 1rem 1rem;
            margin: 4rem 2rem 8rem 0;
        }

        h5 {
            padding: 1rem 1rem;
            margin: 0.5rem 0 0.5rem;
            font-size: 2.5rem;
        }
    }

    .texto-footer {
        width: 100vw;
        padding: 1.5rem 0.5rem;
    }

    .titulo-proyectos {
        color: $purple;
        font: $title-omnes700;
        font-style: normal;
        font-size: 2.2rem;
    }

    .subtitulo-proyectos,
    .subtitulo-footer {
        font: $title-omnes700;
        font-size: 1.75rem;
        opacity: 1.0;
        color: $pink;
        margin: 1rem 0 1.5rem;
    }

    .card-body {
        p {
            font-size: 1.35rem;
            line-height: 2.3rem;
            margin: 1rem 0;
        }
    }

    p {
        color: $darkest-purple;
        font: $title-omnes600;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    /* CV */

    #cv {
        @include flexcenter;

        .box-img-left-cv {
            width: 17.75rem;
            height: fit-content;
            padding: 0.5rem;
            margin: 3rem 1rem 6rem 18.0625rem;
            position: relative;
            float: left;
        }

        .box-text-right-cv {
            width: 35rem;
            min-width: 18.5rem;
            height: fit-content;
            padding: 0.5rem;
            margin: 4.5rem 1rem;
            position: relative;
            float: right;
        }

        .texto-grande {
            color: $purple;
            font: $title-omnes700;
            font-size: 2rem;
            line-height: 3.125rem;
            float: right;
            position: relative;
        }
    }

    /* Fin CV */

    /* Footer */

    .contenedor-footer {
        @include flexcenter ($display: inline-block);
        text-align: center;
        line-height: 4rem;
        width: 100vw;
        height: 34rem;
        padding: 6rem 5.5rem;
        margin-top: 1rem;

        h1 {
            font-size: 3.125rem;
            margin: 1.5rem 1rem 0;
        }

        p {
            font-size: 1.55rem;
            line-height: 2.75rem;
            margin: 0.75rem 0 0.75rem 0;
        }

        .email {
            font: $title-omnes700;
            font-size: 1.725rem;
            opacity: 1.0;
            text-align: center;
            padding: 0 0rem;
            color: $purple;
        }

        #icons-footer {
            @include flexcenter;
            margin-top: 2rem;

            a {
                padding: 1rem;
                margin: 2rem 1rem;
                color: $darkest-purple;
            }
        }
    }

    .footer-resumido {
        @include centrado;
        display: inline-block;
        text-align: center;
        height: 3rem;
        width: 100vw;
    }


    /* Fin Footer */

    /* Sección About me */

    .bg-gradient-hero-about {
        background-image: linear-gradient(rgba(250, 208, 196, 0.33), rgba(255, 209, 255, 0.33));
        height: 65rem;
        width: 100vw;
    }

    .contenedor-about {
        display: flex;
        align-items: flex-start;

        .about-texto {
            display: inline-block;
            margin: 0.5rem 1.5rem 1rem 6.5rem;
            width: 65rem;
            text-align: left;

            p {
                font-size: 1.5rem;
                line-height: 2.3rem;
            }

            .firma {
                color: $pink;
                font-family: pacifico, sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 4.375rem;
                margin: 1rem 5.5rem 6rem 1rem;
            }
        }

        .about-img {
            float: right;
            margin: 1rem 6rem 2rem 2rem;
        }
    }


    .firma {
        color: $pink;
        font-family: pacifico, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 3.5rem;
        padding: 1rem 0;
        margin: 0;
    }

    .hr-right-l {
        display: flex;
        float: left;
        width: 40%;
        border-top: 0.125rem solid $pink;
        margin-right: 2rem;
    }

    .hr-right-r {
        display: flex;
        float: right;
        width: 40%;
        border-top: 0.125rem solid $pink;
        margin-left: 2rem;
    }

    .inline-about {
        @include flexcenter ($justify: space-around);
        width: 100vw;
        height: 6rem;

        li {
            padding: 1rem 0.5rem;
            margin: 3rem 0.75rem 4rem;
            font-size: 1.65rem;
        }
    }

    .hr-full {
        display: flex;
        width: 100vw;
        border-top: 0.125rem solid $pink;
        margin-bottom: 6rem;
    }

    ul {
        li {
            font: $title-omnes600;
            font-size: 1.2rem;
            line-height: 3rem;
        }
    }

    .love-title {
        font: $section-title-font;
        font-size: 2rem;
        width: 24rem;
        margin: 0 0 0 40rem;
    }

    .about-img {
        float: right;
        margin: 1rem 6.5rem 1rem 2rem;
        height: fit-content;
    }

    .contenedor-illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 25rem;
        margin-left: 35rem;
    }


    /* Fin sección About me */

    /* Sección Solutions */

    .titulo-seccion-solutions {
        @include flexbox;
        margin: 5rem;
        float: right;

        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 4.5rem;
            opacity: 0.3;
        }
    }

    .grid-solutions {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
        grid-gap: 2rem;
        align-items: stretch;
        margin: 4.5rem 6.5rem 0rem;
        padding: 0rem 0rem 5.5rem;
        align-items: flex-start;

        article {
            display: flex;
            flex-direction: column;

            .solution-text {
                @include flexcenter;
                flex-wrap: wrap;
                width: 16rem;
                height: auto;
                padding: 0.3rem 0rem 2rem;
                flex-grow: 1;
                flex-direction: column;
                box-sizing: border-box;
                text-align: center;

                h3 {
                    font: $title-omnes700;
                    font-size: 2.2rem;
                    line-height: 4.125rem;
                    text-align: center;
                }

                p {
                    flex-grow: 1;
                    line-height: 2.75rem;
                }
            }
        }
    }


    /* Colores de solution cards */

    .dark-purple {
        color: $dark-purple;
    }

    .dark-pink {
        color: $dark-pink;
    }

    .medium-pink {
        color: $medium-pink;
    }

    .lighter-pink {
        color: $lighter-pink;
    }

    .lightest-pink {
        color: $lightest-pink;
    }

    /* Fin colores de solution cards */

    .bg-lillac-solutions {
        height: 45rem;
    }

    .titulo-seccion-method {
        @include flexbox;
        margin: 8rem 5rem 0 0;
        float: right;

        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 4rem;
            opacity: 0.3;
        }
    }

    .grid-method {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        grid-gap: 2rem;
        align-items: stretch;
        margin: 4.5rem 6.5rem 0;
        padding: 0rem 0rem 5.5rem;

        .method-step {
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            width: 13rem;
            height: auto;
            padding: 0.3rem 0rem 2rem;
            flex-grow: 1;
            flex-direction: column;
            display: flex;
            box-sizing: border-box;

            h3 {
                font: $title-omnes700;
                font-size: 1.8rem;
                line-height: 3.125rem;
            }

            p {
                flex-grow: 1;
                line-height: 2.75rem;
            }
        }
    }

    /* Fin sección Solutions */

    /* Sección Skills */

    .titulo-skills-largo {
        @include flexbox;
        float: right;
        margin: 7rem 5.5rem 1rem;
        line-height: 5rem;

        h4 {
            font: $big-title-font;
            font-size: 4.5rem;
            opacity: 0.3;
        }
    }

    .contenedor-card {
        @include flexcenter;
        padding: 0 0 5rem 0;
        margin: 0 2rem;

        p {
            margin-top: 0;
        }
    }

    .skill-card {
        div {
            text-align: center;
            background-color: #ffffff;
            width: 21rem;
            height: 35rem;
            border-radius: 0.625rem;
            box-shadow: 0rem 0.3125rem 1.5625rem 0.3125rem rgba(162, 122, 204, 0.15);
            padding: 2.5rem 1rem;
            margin: 1rem;
            box-sizing: border-box;

            p {
                margin: 1rem 1.5rem 2rem;
                font-size: 1.4rem;
            }

            .titulos-listas {
                font: $title-omnes700;
                font-size: 1.9rem;
            }
        }
    }

    #iconos-tools {
        li {
            font: $title-omnes600;
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    .bg-lillac-skills {
        height: 63rem;
    }

    .titulo-seccion-skills {
        @include flexbox;
        margin: 5rem;
        float: right;
    }

    .titulo-seccion-skills {
        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 4.5rem;
            opacity: 0.3;
        }
    }

    .inline-skills {
        @include flexcenter;
        height: 6rem;
    }

    /* Fin sección Skills */

    /* Sección Contact */

    .contenedor-contact {
        height: 70rem;
        width: 100vw;
        .bg-lillac-2 {
            height: 65rem;
        }

        .titulo-seccion-contact {
            @include flexbox ($justify-content: center, $text-align: center);
            margin: 5.5rem 5.5rem 1.5rem 0;
            color: $purple;
            width: 100vw;

            h4 {
                font: $big-title-font;
                font-size: 5rem;
                opacity: 0.3;
            }
        }

        .contenedor-form {
            @include centrado;
            display: inline-block;
            width: 50rem;
            height: auto;
            margin: 1rem 0 0 25rem;
            .contenedor-form-intro {
                @include flexcenter ($display: inline-block);
                text-align: left;
                box-sizing: border-box;

                .contact {
                    font: $section-title-font;
                    font-size: 3.125rem;
                    margin-top: 1.5rem;
                    margin-bottom: 0;
                }

                p {
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                    margin-top: 0;
                }
            }
            .contenedor-name-email {
                width: 50rem;
                .text-area-size {
                    width: 50rem;
                    height: 11rem;
                    font: $title-omnes400;
                    font-size: 1.5rem;
                    color: #999999;
                }
                .button-style {
                    width: 17rem;
                }
            }
        }
    }
    /* Fin sección Contact */

}