/* Vars */

    /* Colors */
    $pink: #D977C7;
    $purple: #9766CC;
    $darkest-purple: #654D80;

    $dark-purple: #896DBF;
    $dark-pink: #BA71CC;
    $medium-pink:#D17CD8;
    $lighter-pink: #E583DC;
    $lightest-pink: #F288D2;

    /* Typography */

    $section-title-font: normal 700 1.5rem 'abril-display', serif;

    $title-abrildisplay: normal 1.5rem 'abril-display', serif;

    $big-title-font: normal 400 4rem 'abril-fatface', serif;

    $paragraph-font: normal 600 1.5rem 'omnes-cyrillic', sans-serif; 

    $title-omnes700: normal 700 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes600: normal 600 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes500: normal 500 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes400: normal 400 1.5rem 'omnes-cyrillic', sans-serif;

/* Fin Vars */

/* Mixin */

@mixin flexbox ($display: inline-block, $position: relative, $align-items: center, $justify-content: flex-end, $wrap: wrap, $box-sizing: border-box, $text-align: right) {
    display: $display;
    position: $position;
    flex-wrap: $wrap;
    align-items: $align-items;
    box-sizing: $box-sizing;
    justify-content: $justify-content;
    text-align: $text-align;
}

@mixin flexcenter ($display: flex, $justify: center, $align: center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin centrado ($align: center, $justify: center) {
    align-items: $align;
    justify-content: $justify;
}

/* Fin Mixin */
@import "generales";

/* *************** Large screens *************** */
@media only screen and (min-width: 1920px) {

    /* Titles and Texts */

    h1 {
        font-size: 3.75rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 5.3125rem;
    }

    h5 {
        font-size: 2rem;
    }

    form {
        h3 {
            font-size: 1.375rem;
        }
    }

    h1 {
        font-size: 3.75rem;
        margin-bottom: 1rem;
    }

    ul li {
        font-size: 1.65rem;
        line-height: 3rem;
    }

    a:hover {
        color: $pink;
        transform-origin: bottom left;
        transition: transform 0.250s ease-in-out;
    }

    .titulo-proyectos {
        color: $purple;
        font: $title-omnes700;
        font-size: 2.8rem;
    }

    .titulos-listas {
        font: $title-omnes700;
        font-size: 2.1875rem;
    }

    .subtitulo-proyectos,
    .subtitulo-footer {
        font: $title-omnes700;
        font-size: 2.2rem;
        color: $pink;
        margin: 1rem 0 1.5rem;
    }

    .card-body {
        p {
            font-size: 1.5rem;
            line-height: 2.8rem;
            margin: 1rem 0;
        }
    }

    .texto-grande {
        color: $purple;
        font: $title-omnes700;
        font-size: 2.5rem;
        line-height: 3.625rem;
    }

    .labels {
        color: $darkest-purple;
        font: $title-omnes500;
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    .link-in-paragraph {
        color: $darkest-purple;
        text-decoration: underline;
        font-weight: bold
    }

    .nav-logo-mobile {
        font: $section-title-font;
        font-size: 1.8125rem;
        text-decoration: none;
    }

    .align-center {
        text-align: center;
    }

    .texto-footer {
        width: 100vw;
        padding: 1.5rem 0.5rem;
    }

    /* Fin Titles and Texts */

    /* Titulos Seccion */

    section {
        h2 {
            font: $title-omnes600;
            font-size: 1.75rem;
            margin: 1.5rem 0;
        }
    }

    .titulo-seccion-izq {
        @include flexbox ($text-align: left, $justify-content: flex-start);
        margin: 3rem 1rem 1rem;
        line-height: 5rem;

        h1 {
            font: $section-title-font;
            font-size: 3.5rem;
            padding: 1.5rem 0 0;
        }
    }

    .titulo-skills-largo {
        @include flexbox;
        float: right;
        margin: 7rem 5.5rem 1rem;
        line-height: 5rem;

        h4 {
            font: $big-title-font;
            font-size: 6rem;
            opacity: 0.3;
        }
    }

    .titulo-seccion-skills {
        @include flexbox;
        margin: 5.5rem;
        float: right;

        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 6rem;
            opacity: 0.3;
        }
    }

    .titulo-seccion-portfolio {
        @include flexbox;
        margin: 5.5rem;
        float: right;
        color: $purple;

        h4 {
            font: $big-title-font;
            font-size: 6rem;
            opacity: 0.3;
        }
    }

    .titulo-seccion-solutions {
        @include flexbox;
        margin: 5.5rem;
        float: right;

        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 6rem;
            opacity: 0.3;
        }
    }

    .titulo-seccion-method {
        @include flexbox;
        margin: 8rem 5.5rem 0 0;
        float: right;

        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 5rem;
            opacity: 0.3;
        }
    }

    /* Fin de Titulos Seccion */

    /* Fin Titles & Texts */

    /* Box modeling & Flexbox */

    .inline-list {
        @include flexcenter;
        height: 8rem;
        width: 100vw;

        li {
            padding: 1rem 1rem;
            margin: 4rem 2rem 8rem 0;
        }

        h5 {
            padding: 1rem 1rem;
            margin: 0.5rem 0 0.5rem;
            font-size: 3rem;
        }
    }

    .hr-skills {
        display: flex;
        float: left;
        width: 6.5rem;
        border-top: 0.125rem solid $pink;
        margin: 5rem 0 0;
    }

    /* Grids */

    .grid-solutions {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
        grid-gap: 2.875rem;
        align-items: stretch;
        margin: 4.5rem 6.5rem 0rem;
        padding: 0rem 0rem 6rem;

        article {
            display: flex;
            flex-direction: column;

            .solution-text {
                @include flexcenter;
                flex-wrap: wrap;
                width: 19.0625rem;
                height: auto;
                padding: 0.3rem 0rem 2rem;
                flex-grow: 1;
                flex-direction: column;
                box-sizing: border-box;
                text-align: center;

                h3 {
                    text-align: center;
                    font-family: omnes-cyrillic, sans-serif;
                    font-weight: 700;
                    font-size: 2.65rem;
                    line-height: 4.125rem;
                    font-style: normal;
                }

                p {
                    flex-grow: 1;
                    font-size: 1.55rem;
                    line-height: 2.5rem;
                }
            }
        }
    }

    /* Fin Grids */

    /* Intro */

    #sakura {
        display: block;
        float: right;
        position: relative;
        padding: 0 0 0 100rem;
        height: 11rem;
    }

    .intro-completo {
        @include centrado;
        display: inline-block;
        margin: 1rem 0 0;

        .contenedor-intro-izq {
            @include centrado;
            display: inline-block;
            position: relative;
            flex-wrap: wrap;
            width: 48.625rem;
            padding: 1rem 2rem 0 6.5rem;
            height: 26rem;
            margin-right: 2rem;
            box-sizing: border-box;

            .intro {
                font: $section-title-font;
                font-size: 5.9375rem;
            }

            .pink {
                color: $pink;
            }
        }

        .professions {
            font: $title-omnes600;
            font-size: 3.125rem;
            line-height: 5rem;
        }

        .contenedor-intro-der {
            display: flex;
            float: right;
            position: relative;
            flex-wrap: wrap;
            width: 63.0625rem;
            height: 26rem;
            margin-left: 6.3125rem;
            margin-top: 1.75rem;
            padding: 1rem 6.5rem 0rem 4rem;
            box-sizing: border-box;
            align-items: flex-start;
            justify-content: flex-start;

            #titulo-bio {
                font: $section-title-font;
                font-size: 3.75rem;
            }

            .texto-medio-bio {
                font: $title-omnes500;
                font-size: 2.125rem;
                line-height: 3.5rem;
                color: $darkest-purple;
            }
        }
    }

    .align-welcome {
        @include flexcenter;
        padding: 3.75rem 0;

        .span-portfolio {
            font: $big-title-font;
            font-size: 7rem;
            line-height: 6rem;
            text-align: center;
            opacity: 0.3;
        }
    }

    h4 {
        font: $big-title-font;
        font-size: 4rem;
    }

    /* Fin Intro */

    /* CV */

    #cv {
        @include flexcenter;
    }

    .box-img-left-cv {
        width: 23.75rem;
        height: fit-content;
        padding: 0.5rem;
        margin: 4.5rem 2rem;
        position: relative;
        float: left;
    }

    .box-text-right-cv {
        width: 42.1875rem;
        min-width: 18.5rem;
        height: fit-content;
        padding: 0.5rem;
        margin: 4.5rem 1rem;
        position: relative;
        float: right;
    }

    /* Fin CV */

    /* Footer */

    .contenedor-footer {
        @include flexcenter ($display: inline-block);
        text-align: center;
        line-height: 4rem;
        width: 100vw;
        height: 37rem;
        padding: 6.5rem 5.5rem;
        margin-top: 1rem;

        h1 {
            font-size: 3.5rem;
            margin: 1.5rem 1rem 0;
        }

        p {
            font-size: 1.75rem;
            line-height: 3rem;
            margin: 0.75rem 0 0.75rem 0;
        }

        .email {
            font: $title-omnes700;
            font-size: 1.875rem;
            opacity: 1.0;
            text-align: center;
            padding: 0 0rem;
            color: $purple;
        }
    }

    #icons-footer {
        @include flexcenter;
        margin-top: 2rem;

        a {
            padding: 1rem;
            margin: 2rem 1rem;
            color: $darkest-purple;
        }
    }

    .footer-resumido {
        @include flexcenter ($display: inline-block);
        text-align: center;
        width: 100vw;
        height: 3rem;
    }

    /* Fin Footer */

    /* Skills Section */

    .inline-skills {
        @include flexcenter;
        flex-direction: row;
        width: 100vw;
        list-style-type: disc;

        li {
            padding: 1rem 0.5rem;
            margin: 0.5rem 1rem 0.5rem;
        }
    }

    /* Cards*/
    .contenedor-card {
        @include flexcenter;
        padding: 2rem 0 6.5rem 0;
    }

    .skill-card {
        div {
            text-align: center;
            background-color: #ffffff;
            width: 25.9375rem;
            height: 34rem;
            border-radius: 0.625rem;
            box-shadow: 0rem 0.3125rem 1.5625rem 0.3125rem rgba(162, 122, 204, 0.15);
            padding: 2.5rem 1rem;
            margin: 1rem;
            box-sizing: border-box;

            p {
                font-size: 1.55rem;
                line-height: 2.5rem;
                margin: 2rem;
            }
        }
    }

    /* Fin Cards*/

    /* Secci贸n About me */

    .contenedor-about {
        display: flex;
        align-items: flex-start;

        .about-texto {
            display: inline-block;
            margin: 0.5rem 2rem 1rem 7.5rem;
            width: 70rem;
            text-align: left;

            p {
                font-size: 1.65rem;
                line-height: 2.5rem;
            }

            .firma {
                color: $pink;
                font-family: pacifico, sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 4.375rem;
                margin: 1rem 5.5rem 6rem 1rem;
            }
        }

        .about-img {
            float: right;
            margin: 1rem 6.5rem 1rem 2rem;
        }
    }

    .about-img {
        img {
            width: 90%;
        }
    }

    .love-title {
        font: $section-title-font;
        font-size: 2.5rem;
        width: 18.74rem;
        margin: 0 0 0 52.875rem;
    }

    .hr-right-l {
        display: flex;
        float: left;
        width: 48rem;
        border-top: 0.125rem solid #D977C7;
        margin-right: 3rem;
    }

    .hr-right-r {
        display: flex;
        float: right;
        width: 48rem;
        border-top: 0.125rem solid #D977C7;
        margin-left: 3rem;
    }

    .inline-about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 120rem;

        li {
            padding: 1rem 0.5rem;
            margin: 3rem 0.5rem 4rem;
            font-size: 1.75rem;
        }
    }

    .hr-full {
        display: flex;
        width: 100vw;
        border-top: 0.125rem solid #D977C7;
        margin-bottom: 5rem;
    }

    .contenedor-illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        margin-left: 42rem;
    }

    /* Fin seccion About Me */

    /* Colores de solution cards */

    .dark-purple {
        color: $dark-purple;
    }

    .dark-pink {
        color: $dark-pink;
    }

    .medium-pink {
        color: $medium-pink;
    }

    .lighter-pink {
        color: $lighter-pink;
    }

    .lightest-pink {
        color: $lightest-pink;
    }

    /* Fin colores de solution cards */

    /* Secci贸n Method */

    .hr-full-method {
        display: flex;
        flex-direction: column;
        width: 100vw;
        border-top: 0.125rem solid $pink;
        margin: 7rem 0 1rem;
    }

    .grid-method {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15.875rem, 1fr));
        grid-gap: 2rem;
        align-items: stretch;
        margin: 4.5rem 6.5rem 0rem;
        padding: 0rem 0rem 8.5rem;
        align-items: flex-start;

        article {
            display: flex;
            flex-direction: column;
        }

        .method-step {
            display: flex;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            width: 15.1625rem;
            height: auto;
            padding: 0.3rem 0rem 3rem;
            flex-grow: 1;
            flex-direction: column;
            box-sizing: border-box;

            h3 {
                text-align: center;
                font: $title-omnes700;
                font-size: 2.1875rem;
                line-height: 3.125rem;
            }

            p {
                flex-grow: 1;
                line-height: 2.75rem;
                font-size: 1.55rem;
            }
        }
    }

    /* Fin Secci贸n Method */

    /* Secci贸n Contact me */

    .contenedor-contact {
        height: 73rem;
        width: 100vw;

        .titulo-seccion-contact {
            @include flexbox ($justify-content: center, $text-align: center);
            margin: 5.5rem 5.5rem 2rem 0;
            color: $purple;
            width: 100vw;

            h4 {
                font: $big-title-font;
                font-size: 5.5rem;
                opacity: 0.3;
            }
        }

        .contenedor-form {
            @include flexcenter ($display: inline-block);
            width: 60rem;
            height: auto;
            margin-left: 30rem;

            .contenedor-form-intro {
                @include flexcenter ($display: inline-block);
                text-align: left;
                box-sizing: border-box;

                .contact {
                    color: $purple;
                    font: $section-title-font;
                    font-size: 3.5rem;
                    margin-top: 2rem;
                    margin-bottom: 0;
                }

                p {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }

            .contenedor-name-email {
                display: inline-block;
                justify-content: space-around;
                align-items: center;
                text-align: left;
                box-sizing: border-box;
                margin: 2rem 0;
                width: 60rem;

                .short-placeholder {
                    width: 28.6875rem;
                    height: 3.75rem;
                    font: $title-omnes400;
                    font-size: 1.5rem;
                    color: #999999;
                }

                .text-area-size {
                    width: 56.9375rem;
                    height: 11rem;
                    font: $title-omnes400;
                    font-size: 1.5rem;
                    color: #999999;
                }

                .button-style {
                    background-image: linear-gradient(to right, #9766CC 0%, #D977C7 51%, #9766CC 100%);
                    margin: 0.625rem;
                    padding: 1.5rem 6rem;
                    font: $title-omnes700;
                    text-align: center;
                    font-size: 1.625rem;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    /* offset-x | offset-y | blur-radius | spread-radius | color */
                    box-shadow: 0 0.5rem 1rem 0.2rem rgba(101, 77, 128, 0.2);
                    border-radius: 0.625rem;
                    display: block;
                    width: 20rem;
                }

            }

        }
    }
}
