/* Vars */

    /* Colors */
    $pink: #D977C7;
    $purple: #9766CC;
    $darkest-purple: #654D80;

    $dark-purple: #896DBF;
    $dark-pink: #BA71CC;
    $medium-pink:#D17CD8;
    $lighter-pink: #E583DC;
    $lightest-pink: #F288D2;

    /* Typography */

    $section-title-font: normal 700 1.5rem 'abril-display', serif;

    $title-abrildisplay: normal 1.5rem 'abril-display', serif;

    $big-title-font: normal 400 4rem 'abril-fatface', serif;

    $paragraph-font: normal 600 1.5rem 'omnes-cyrillic', sans-serif; 

    $title-omnes700: normal 700 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes600: normal 600 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes500: normal 500 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes400: normal 400 1.5rem 'omnes-cyrillic', sans-serif;

/* Fin Vars */

/* Mixin */

@mixin flexbox ($display: inline-block, $position: relative, $align-items: center, $justify-content: flex-end, $wrap: wrap, $box-sizing: border-box, $text-align: right) {
    display: $display;
    position: $position;
    flex-wrap: $wrap;
    align-items: $align-items;
    box-sizing: $box-sizing;
    justify-content: $justify-content;
    text-align: $text-align;
}

@mixin flexcenter ($display: flex, $justify: center, $align: center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin centrado ($align: center, $justify: center) {
    align-items: $align;
    justify-content: $justify;
}

/* Fin Mixin */

@import "generales";

/* 
************************** Notebook *****************************
                    Wireframes en 1366 x 768px 
*/

@media only screen and (min-width: 1025px) and (max-device-width : 1599px) {

    /* Intro y Nav */

    .nav-item {
        a {
            font-size: 1.25rem;
        }
    }

    .bg-gradient-hero {
        background-image: linear-gradient(rgba(250, 208, 196, 0.33), rgba(255, 209, 255, 0.33));
        width: 100vw;
    }

    #sakura {
        display: block;
        float: right;
        position: relative;
        padding: 0.25rem 0 0.25rem 1rem;
        height: 7.5rem;
    }

    .intro-completo {
        display: inline-block;
        align-items: flex-start;
        justify-content: center;
        margin: 0.5rem 0 0;

        .contenedor-intro-izq {
            @include centrado;
            display: inline-block;
            position: relative;
            flex-wrap: wrap;
            width: 38.25rem;
            padding: 1rem 2rem 0 5.5rem;
            height: 19.125rem;
            margin-right: 1rem;
            box-sizing: border-box;

            .intro {
                font: $section-title-font;
                font-size: 4rem;
                }
                .pink {
                    color: $pink;
                }
            }
            .professions {
                font-family: omnes-cyrillic, sans-serif;
                font-weight: 600;
                font-style: normal;
                font-size: 2.3rem;
                line-height: 4.0625rem;
        }

        .contenedor-intro-der {
            display: flex;
            float: right;
            position: relative;
            flex-wrap: wrap;
            width: 44.8125rem;
            height: 19.125rem;
            padding: 1.8rem 5.5rem 0rem 1rem;
            margin-left: 1.0625rem;
            box-sizing: border-box;
            align-items: flex-start;
            justify-content: flex-start;

            #titulo-bio {
                font: $section-title-font;
                font-size: 3.125rem;
            }

            .texto-medio-bio {
                display: block;
                text-align: left;
                font: $title-omnes500;
                font-size: 1.5rem;
                line-height: 2.25rem;
                padding: 1rem 0 0;
            }
        }
    }

    .align-welcome {
        @include flexcenter;
        padding: 2rem 0 3rem;

        .span-portfolio {
            font-size: 5.3125rem;
            line-height: 6rem;
            text-align: center;
            opacity: 0.3;
        }
    }

    h4 {
        font: $big-title-font;
        font-size: 4rem;
    }

        .texto-footer {
        width: 100vw;
        padding: 1.5rem 0.5rem;
    } 

    /* Fin Intro y Nav */

    /* Proyectos */

    section {
        h2 {
            font: $title-omnes600;
            font-size: 1.35rem;
            margin: 0.5rem 0;
        }
    }

    .hr-skills {
        display: flex;
        float: left;
        width: 5.5rem;
        border-top: 0.125rem solid $pink;
        margin: 5rem 0 0;
    }

    .titulo-seccion-izq {
        @include flexbox ($text-align: left, $justify-content: flex-start);
        margin: 4rem 2rem 1.5rem 1.5rem;
        line-height: 2rem;
        h1 {
            font: $section-title-font;
            font-size: 2.75rem;
            padding: 1rem 0 0;
        }
    }

    .titulo-seccion-portfolio {
        @include flexbox;
        float: right;
        margin: 5rem;
        color: $purple;
        h4 {
            font: $big-title-font;
            font-size: 4rem;
            opacity: 0.3;
            }
    }

    h5 {
        color: $purple;
        font: $title-omnes700;
        font-style: normal;
        font-size: 1.2rem;
    }

    .inline-list {
        @include flexcenter;
        height: 3.5rem;
        width: 100vw;

        h5 {
            font-size: 2.5rem;
            padding: 1rem 1rem;
            margin: 3rem 0 2rem;
        }
    }

    .titulo-proyectos {
        color: $purple;
        font: $title-omnes700;
        font-style: normal;
        font-size: 2rem;
    }

    .subtitulo-proyectos,
    .subtitulo-footer {
        font: $title-omnes700;
        font-size: 1.5rem;
        opacity: 1.0;
        margin: 1rem 0 1.25rem;
    }

    .card-body {
        p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin: 1rem 0;
        }
    }

    p {
        color: $darkest-purple;
        font: $title-omnes600;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    /* CV */

    #cv {
        @include flexcenter;
        flex-direction: row;

        .box-img-left-cv {
            width: 17.75rem;
            height: fit-content;
            padding: 0.5rem;
            margin: 3rem 1rem 6rem 18.0625rem;
            position: relative;
            float: left;
        }

        .box-text-right-cv {
            @include centrado;
            height: fit-content;
            padding: 1rem;
            margin: 3rem 2rem 6rem;
            position: relative;
            float: right;
        }

        .texto-grande {
            color: $purple;
            font: $title-omnes700;
            font-size: 2rem;
            line-height: 3.125rem;
            float: right;
            position: relative;
        }
    }

    /* Fin CV */

    /* Footer */

    .contenedor-footer {
        @include centrado;
        display: inline-block;
        text-align: center;
        line-height: 4rem;
        height: 30rem;
        width: 100vw;
        padding: 3rem 0;
        margin: 1rem 1rem 0 1rem;

        h1 {
            font-size: 3rem;
            margin: 1.5rem 1rem 0;
        }

        p {
            line-height: 2.25rem;
            margin: 0 0 1rem 0;
            font-size: 1.5rem;
            font-weight: 600;
            flex-wrap: wrap;
        }

        .email {
            font: $title-omnes700;
            font-size: 1.725rem;
            opacity: 1.0;
            text-align: center;
            padding: 0 0rem;
            color: $purple;
        }

        #icons-footer {
            @include flexcenter;
            margin-top: 1.75rem;

            a {
                padding: 1rem;
                margin: 2rem 1rem;
                color: $darkest-purple;
            }
        }
    }

    .footer-resumido {
        @include centrado;
        display: inline-block;
        text-align: center;
        height: 2.5rem;
        width: 100vw;
    }

    /* Fin Footer */

    /* Sección About me */

    .bg-gradient-hero-about {
        background-image: linear-gradient(rgba(250, 208, 196, 0.33), rgba(255, 209, 255, 0.33));
        height: 48rem;
        width: 100vw;
    }

    .contenedor-about {
        display: flex;
        align-items: flex-start;

        .about-texto {
            display: inline-block;
            margin: 0.5rem 1.5rem 1rem 6.5rem;
            width: 65rem;
            text-align: left;
            p {
                font-size: 1.2rem;
                line-height: 1.9rem;
            }
            .firma {
                color: $pink;
                font-family: pacifico, sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 3.5rem;
                padding: 1rem 0;
                margin: 0;
            }
        }
        .about-img {
            float: right;
            margin: 1rem 6.5rem 1rem 2rem;
            height: fit-content;
        }
    }

    .love-title {
        font: $section-title-font;
        font-size: 2rem;
        width: 24rem;
        margin: 0 0 0 30rem;
    }

    .hr-right-l {
        display: flex;
        float: left;
        width: 40%;
        border-top: 0.125rem solid $pink;
        margin-right: 2rem;
    }

    .hr-right-r {
        display: flex;
        float: right;
        width: 40%;
        border-top: 0.125rem solid $pink;
        margin-left: 2rem;
    }

    .inline-about {
        @include flexcenter ($justify: space-around);
        width: 100vw;
        height: 6rem;
        li {
            padding: 1rem 0.5rem;
            margin: 3rem 1rem 4rem;
            font-size: 1.3rem;
        }
    }

    .hr-full {
        display: flex;
        width: 100vw;
        border-top: 0.125rem solid $pink;
        margin-bottom: 3.5rem;
    }

    ul {
        li {
            font: $title-omnes600;
            font-size: 1.2rem;
            line-height: 3rem;
        }
    }

    .contenedor-illustration {         
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 25rem;
        margin-left: 33rem;
    }

    /* Fin sección About me */

    /* Sección Solutions */

    .titulo-seccion-solutions {
        @include flexbox;
        margin: 5rem;
        float: right;
        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 4rem;
            opacity: 0.3;
            }
    }

    .grid-solutions {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
        grid-gap: 1.5rem;
        align-items: stretch;
        margin: 3rem 3rem 0rem;
        padding-bottom: 6rem;
        align-items: flex-start;

        article {
            display: flex;
            flex-direction: column;
    
            .solution-text {
                @include flexcenter;
                flex-wrap: wrap;
                width: 15rem;
                height: auto;
                padding: 0.3rem 0rem 2rem;
                flex-grow: 1;
                flex-direction: column;
                box-sizing: border-box;
                text-align: center;

                h3 {
                    font: $title-omnes700;
                    font-size: 2.2rem;
                    line-height: 4.125rem;
                    text-align: center;
                }

                p {
                    flex-grow: 1;
                    line-height: 2.3rem;
                    font-size: 1.3rem;
                }
            }
        }
    }


/* Colores de solution cards */ 

.dark-purple {
    color: $dark-purple;
}

.dark-pink {
    color: $dark-pink;
}

.medium-pink {
    color: $medium-pink;
}

.lighter-pink {
    color: $lighter-pink;
}

.lightest-pink {
    color: $lightest-pink;
}

/* Fin colores de solution cards */ 

    .bg-lillac-solutions {
        height: 42rem;
    }

    .titulo-seccion-method {
        @include flexbox;
        margin: 8rem 5rem 0 0;
        float: right;
        h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 3.2rem;
            opacity: 0.3;
            }
    }

    .grid-method {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        grid-gap: 1rem;
        align-items: stretch;
        margin: 3rem 3.5rem;
        padding: 0rem 0rem 5.5rem;
        align-items: flex-start;

        .method-step {
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            width: 13rem;
            height: auto;
            padding: 0.3rem 0rem 3rem;
            flex-grow: 1;
            flex-direction: column;
            display: flex;
            box-sizing: border-box;

            h3 {
                text-align: center;
                font: $title-omnes700;
                font-size: 1.8rem;
                line-height: 3.125rem;
            }

            p {
                flex-grow: 1;
                line-height: 2.3rem;
                font-size: 1.3rem;
            }
        }
    }

    /* Fin sección Solutions */

    /* Sección Skills */

    .titulo-skills-largo {
        @include flexbox;
        float: right;
        margin: 6.5rem 5.5rem 1rem;
        line-height: 5rem;
        h4 {
            font: $big-title-font;
            font-size: 4rem;
            opacity: 0.3;
            }
    }

    .contenedor-card {
        @include flexcenter;
        padding: 0 0 5rem 0;
        margin: 0 2rem;
        width: 95.5vw;
        p {
            margin-top: 0;
        }
    }

    .skill-card {
        div {
            text-align: center;
            background-color: #ffffff;
            width: 20rem;
            height: 32rem;
            border-radius: 0.625rem;
            box-shadow: 0rem 0.3125rem 1.5625rem 0.3125rem rgba(162, 122, 204, 0.15);
            padding: 2.5rem 1rem;
            margin: 1rem;
            box-sizing: border-box;
            p {
                margin: 0 1rem 1rem;
                font-size: 1.3rem;
                line-height: 2.4rem;
            }

            .titulos-listas {
                font: $title-omnes700;
                font-size: 1.9rem;
            }
        }
    }
    
        #iconos-tools {
            li {
                font: $title-omnes600;
                font-size: 2rem;
                line-height: 3rem;
            }
        }

        .bg-lillac-skills {
            height: 55rem;
        }

        .titulo-seccion-skills {
            @include flexbox;
            margin: 7rem 5rem 0 0;
            float: right;
            opacity: 0.3;
        }
    
        .titulo-seccion-method {
            h4 {
            font: $big-title-font;
            color: $purple;
            font-size: 4rem;
            opacity: 0.3;
            }
        }

        .inline-skills {
            @include flexcenter;
            height: 6rem;
            flex-direction: row;
            width: 100vw;
            list-style-type: disc;
            li {
                font-size: 1.2rem;
                padding: 1rem 0.5rem;
                margin: 0.5rem 1rem 0.5rem;
            }
        }

        /* Fin sección Skills */

        /* Sección Contact */

        .contenedor-contact {
            height: 68rem;
            width: 100vw;

            .titulo-seccion-contact {
                @include flexbox ($justify-content: center, $text-align: center);
                margin: 5.5rem 5.5rem 1.5rem 0;
                color: $purple;
                width: 100vw;
    
                h4 {
                    font: $big-title-font;
                    font-size: 4.5rem;
                    opacity: 0.3;
                }
            }

            .contenedor-form {
                @include centrado;
                display: inline-block;
                width: 50rem;
                height: auto;
                margin: 1rem 0 0 20rem;
                .contenedor-form-intro {
                    @include flexcenter ($display: inline-block);
                    text-align: left;
                    box-sizing: border-box;
                    width: 50rem;

                p {
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                    margin-top: 0;
                }

                .contact {
                    font: $section-title-font;
                    font-size: 2.75rem;
                    margin-top: 1.5rem;
                    margin-bottom: 0;
                }
            }

            .contenedor-name-email {
                display: inline-block;
                justify-content: space-around;
                align-items: center;
                text-align: left;
                box-sizing: border-box;
                width: 47rem;
                margin: 2rem 0;

                .text-area-size {
                    width: 47rem;
                    height: 11rem;
                    font: $title-omnes400;
                    font-size: 1.5rem;
                    color: #999999;
                }

                .short-placeholder {
                    width: 28.6875rem;
                    height: 3.75rem;
                    font: $title-omnes400;
                    font-size: 1.5rem;
                    color: #999999;
                }

                .button-style {
                    background-image: linear-gradient(to right, #9766CC 0%, #D977C7 51%, #9766CC 100%);
                    margin: 0.625rem;
                    padding: 1.5rem 6rem;
                    font: $title-omnes700;
                    text-align: center;
                    font-size: 1.625rem;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    /* offset-x | offset-y | blur-radius | spread-radius | color */
                    box-shadow: 0 0.5rem 1rem 0.2rem rgba(101, 77, 128, 0.2);
                    border-radius: 0.625rem;
                    display: block;
                    width: 17rem;
                }
            }
            }
        }
        /* Fin sección Contact */
        }
    