/* Reseteo CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
html { height: 101%; }
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, sans-serif; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
p { font-size: 1.2em; line-height: 1.0em; color: #333; }
/* FIN Reseteo CSS */

/* Vars */

    /* Colors */
    $pink: #D977C7;
    $purple: #9766CC;
    $darkest-purple: #654D80;

    $dark-purple: #896DBF;
    $dark-pink: #BA71CC;
    $medium-pink:#D17CD8;
    $lighter-pink: #E583DC;
    $lightest-pink: #F288D2;

    /* Typography */
    
    /* ejemplo $titulo-fuente: normal 28px 'Roboto', sans-serif, 100; */ 

    /* ejemplo 2 $fuentePrincipal: normal 0.5em 'Halant', serif; */

    
    $section-title-font: normal 700 1.5rem 'abril-display', serif;

    $title-abrildisplay: normal 1.5rem 'abril-display', serif;

    $big-title-font: normal 400 4rem 'abril-fatface', serif;

    $paragraph-font: normal 500 1.5rem 'omnes-cyrillic', sans-serif; 

    $title-omnes700: normal 700 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes600: normal 600 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes500: normal 500 1.5rem 'omnes-cyrillic', sans-serif;

    $title-omnes400: normal 400 1.5rem 'omnes-cyrillic', sans-serif;

/* Fin Vars */

/* Mixin */

@mixin flexbox ($display: inline-block, $position: relative, $align-items: center, $justify-content: flex-end, $wrap: wrap, $box-sizing: border-box, $text-align: right) {
    display: $display;
    position: $position;
    flex-wrap: $wrap;
    align-items: $align-items;
    box-sizing: $box-sizing;
    justify-content: $justify-content;
    text-align: $text-align;
}

@mixin flexcenter ($display: flex, $justify: center, $align: center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin centrado ($align: center, $justify: center) {
    align-items: $align;
    justify-content: $justify;
}

/* Fin Mixin */

/* 1920 x 1080 resolution */

/* Generales */

html {
    font-size: 16px;
}

body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, sans-serif; }

h1 {
    font: $section-title-font;
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

h2 {
    color: $pink;
    font: $title-omnes600;
}

h3 {
    color: $purple;
}

h4 {
    font: $big-title-font;
    font-size: 5.3125rem;
}

h5 {
    color: $purple;
    font: $title-omnes700;
    font-size: 2rem;
}

p {
    font: $paragraph-font;
    font-size: 1.65rem;
    line-height: 3rem;
    margin: 1rem 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

form {
    h3 {
        color: $purple;
        font: $title-omnes600;
        font-size: 1.375rem;
    }
}

ul {
    list-style-type: none
}

h1, #titulo-bio {
    color: $purple;
    font: $section-title-font;
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

ul li {
    color: $darkest-purple;
    font: $title-omnes600;
    font-size: 1.65rem;
    line-height: 3rem;
}

a:hover {
    color: $pink;
    transform-origin: bottom left;
    transition: transform 0.250s ease-in-out;
    }

section {
    h2 {
    font: $title-omnes600;
    font-size: 1.75rem
    }
}

/* Fin generales */ 

/* Backgrounds */

.bg-gradient-hero {
    background-image: linear-gradient(rgba(250, 208, 196, 0.33), rgba(255, 209, 255, 0.33));
}

.bg-gradient-hero-about {
    background-image: linear-gradient(rgba(250, 208, 196, 0.33), rgba(255, 209, 255, 0.33));
}

.bg-white {
    background-image: #ffffff;
}

.bg-lillac {
    background-image: linear-gradient(#F3F0FA, #F2F2F2);
}

.bg-lillac2, .bg-lillac-solutions, .bg-lillac-skills {
    background-image: linear-gradient(#f2f2f2, #EEE8FA);
}

/* Fin backgrounds */ 

/* Titles and Texts */

.titulo-proyectos {
    color: $purple;
    font: $title-omnes700;
    font-size: 3.125rem;
}

.titulos-listas {
    font: $title-omnes700;
    font-size: 2.1875rem;
}

.subtitulo-proyectos,
.subtitulo-footer {
    font: $title-omnes700;
    font-size: 2.5rem;
    opacity: 1.0;
    margin: 0.5rem 0;
}

.texto-medio-bio {
    font: $title-omnes500;
    font-size: 2.125rem;
    line-height: 3.5rem;
}

.texto-grande {
    color: $purple;
    font: $title-omnes700;
    font-size: 2.5rem;
    line-height: 3.625rem;
}

.labels {
    color: $darkest-purple;
    font: $title-omnes500;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.link-in-paragraph {
    color: $darkest-purple;
    text-decoration: underline;
    font-weight: bold
}

.span-portfolio {
    font: $big-title-font;
    font-size: 7.625rem;
    color: $purple;
    opacity: 20%;
}

.link-cv {
    color: $purple;
    text-decoration: underline;
    font-weight: bold;
}

.intro {
    font: $section-title-font;
    font-size: 5.9375rem;
}

.professions {
    font: $title-omnes600;
    font-size: 3.125rem;
    line-height: 5rem;
}

.nav-logo-mobile {
    font: $section-title-font;
    font-size: 1.8125rem;
    text-decoration: none;
}

.contact {
    color: $purple;
    font: $title-abrildisplay;
    font-size: 2.75rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.align-center {
    text-align: center;
}

.texto-footer {
    width: 100vw;
    padding: 1.5rem 0.5rem;
}

    /* Titulos Seccion */

    .titulo-seccion-izq {
        @include flexbox ($text-align: left, $justify-content: flex-start);
        margin: 3rem 1rem 1rem;
        line-height: 5rem;
    }

    .titulo-skills-largo {
        @include flexbox;
        margin: 2rem 6.5rem 2rem 23.5rem;
        color: $purple;
        opacity: 20%;
    }

    .titulo-seccion-skills {
        @include flexbox;
        margin: 2rem 6.5rem 2rem 38.5rem;
        color: $purple;
        opacity: 20%;
    }

    .titulo-seccion-portfolio {
        @include flexbox;
        margin: 2rem 6.5rem 2rem 54rem;
        color: $purple;
        opacity: 20%;
    }

    .titulo-seccion-solutions {
        @include flexbox;
        margin: 2rem 3rem 2rem 37.5rem;
        color: $purple;
        opacity: 20%;
    }

    .titulo-seccion-method {
        @include flexbox;
        margin: 2rem 6.5rem 2rem 5rem;
        color: $purple;
        opacity: 20%;
    }

    .titulo-seccion-contact {
        @include flexbox ($text-align: center, $justify-content: center);
        margin: 3rem 5.5rem 0 68.5rem;
        color: $purple;
        opacity: 20%;
    }

    /* Fin de Titulos Seccion */

/* Fin Titles & Texts */

/* Box modeling & Flexbox */

.inline-list {
    @include flexcenter;
    height: 10rem;
    li {
        padding: 1rem 1rem;
        margin: 4rem 2rem 8rem 0;
    }
    h5 {
        padding: 1rem 1rem;
        margin: 2rem 2rem 2rem 0;
        font-size: 2.5rem;
    }
}

.hr-skills {
    display: flex;
    float: left;
    width: 6.5rem;
    border-top: 0.125rem solid $pink;
    margin: 5rem 0 0;
}

/* Grids */

.grid-solutions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap: 2.875rem;
    align-items: stretch;
    margin: 6.5rem 6.5rem 0rem;
    padding: 0rem 0rem 6rem;

    article {
        display: flex;
        flex-direction: column;

        .solution-text {
            @include flexcenter;
            flex-wrap: wrap;
            width: 19.0625rem;
            height: auto;
            padding: 0.3rem 0rem 2rem;
            flex-grow: 1;
            flex-direction: column;
            box-sizing: border-box;

            h3 {
                text-align: center;
                font-family: omnes-cyrillic, sans-serif;
                font-weight: 700;
                font-size: 2.65rem;
                line-height: 4.125rem;
                font-style: normal;
            }

            p {
                flex-grow: 1;
            }
        }
    }
}

/* Fin Grids */

/* Intro */

#sakura {
    display: block;
    float: right;
    position: relative;
    padding: 0 0 0 100rem;
    height: 12.5rem;
}

.intro-completo {
    @include centrado;
    display: inline-block;

    .contenedor-intro-izq {
        @include centrado;
        display: inline-block;
        position: relative;
        flex-wrap: wrap;
        width: 48.625rem;
        padding: 1rem 2rem 0 6.5rem;
        height: 26rem;
        margin-right: 2rem;
        box-sizing: border-box;
    }
    
    .contenedor-intro-der {
        display: flex;
        float: right;
        position: relative;
        flex-wrap: wrap;
        width: 63.0625rem;
        height: 26rem;
        margin-left: 6.3125rem;
        margin-top: 1.75rem;
        padding: 1rem 6.5rem 0rem 4rem;
        box-sizing: border-box;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.align-welcome {
    @include flexcenter;
    padding: 3.75rem 0;
}

/* Fin Intro */

/* CV */

#cv {
    @include flexcenter;
}

.box-img-left-cv {
    width: 23.75rem;
    height: fit-content;
    padding: 0.5rem;
    margin: 4.5rem 2rem;
    position: relative;
    float: left;
}

.box-text-right-cv {
    width: 42.1875rem;
    min-width: 18.5rem;
    height: fit-content;
    padding: 0.5rem;
    margin: 4.5rem 1rem;
    position: relative;
    float: right;
}

/* Fin CV */

/* Footer */

.contenedor-footer {
    @include flexcenter ($display: inline-block);
    text-align: center;
    line-height: 4rem;
    width: 100vw;
    height: 35.5rem;
    padding: 6.5rem 5.5rem;
    margin: 1rem 1rem 0 1rem;
    p {
        line-height: 3rem;
        margin: 1rem 0 1rem 0;
    }
    .email {
        font: $title-omnes700;
        font-size: 1.875rem;
        opacity: 1.0;
        text-align: center;
        padding: 0 0rem;
    }
}

#icons-footer {
    @include flexcenter;
    a {
        padding: 1rem;
        margin: 2rem 1rem;
        color: $darkest-purple;
    }
}

.footer-resumido {
    @include flexcenter ($display: inline-block);
    text-align: center;
}

/* Fin Footer */

/* Skills Section */

.inline-skills {
    @include flexcenter;
    flex-direction: row;
    width: 100vw;
        li {
            padding: 1rem 0.5rem;
            margin: 0.5rem 1rem 0.5rem;
        }
}

/* Cards*/
.contenedor-card {
    @include flexcenter;
    padding: 0 0 6.5rem 0;
    }

.skill-card {
    div {
    text-align: center;
    background-color: #ffffff;
    width: 25.9375rem;
    height: 36.375rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.3125rem 1.5625rem 0.3125rem rgba(162, 122, 204, 0.15);
    padding: 2.5rem 1rem;
    margin: 1rem;
    box-sizing: border-box;
    }
}

/* Fin Cards*/

/* Secci贸n About me */

.firma {
    color: $pink;
    font-family: pacifico, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4.375rem;
    margin: 1rem 5.5rem 6rem 1rem;
}

.contenedor-about {
    display: flex;
    .about-texto {
        display: inline-block;
        margin: 0.5rem 2rem 1rem 6.5rem;
        width: 62rem;
        text-align: left;
    }
    .about-img {
        float: right;
        margin: 1rem 6.5rem 1rem 2rem;
    }
}

.love-title {
    font: $section-title-font;
    font-size: 2.5rem;
    width: 18.74rem;
    margin: 0 0 0 52.875rem;
}

.hr-right-l {
    display: flex;
    float: left;
    width: 48rem;
    border-top: 0.125rem solid #D977C7;
    margin-right: 3rem;
}

.hr-right-r {
    display: flex;
    float: right;
    width: 48rem;
    border-top: 0.125rem solid #D977C7;
    margin-left: 3rem;
}

.inline-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120rem;

    li {
        padding: 1rem 1rem;
        margin: 3rem 1rem 4rem;
    }
}

.hr-full {
    display: flex;
    width: 100vw;
    border-top: 0.125rem solid #D977C7;
    margin-bottom: 8.5rem;
}

/* Fin seccion About Me */

/* Secci贸n Method */

    .hr-full-method {
        display: flex;
        flex-direction: column;
        width: 100vw;
        border-top: 0.125rem solid $pink;
        margin: 7rem 0 1rem;
    }

    .grid-method {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
        grid-gap: 1rem;
        align-items: stretch;
        margin: 3rem 6.5rem 0rem;
        padding: 0rem 0rem 8.5rem;

        article {
            display: flex;
            flex-direction: column;
        }

        .method-step {
            display: flex;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            width: 15.1625rem;
            height: auto;
            padding: 0.3rem 0rem 3rem;
            flex-grow: 1;
            flex-direction: column;
            box-sizing: border-box;

            h3 {
                text-align: center;
                font: $title-omnes700;
                font-size: 2.1875rem;
                line-height: 3.125rem;
            }

            p {
                flex-grow: 1;
                line-height: 2.75rem;
            }
        }
    }

/* Fin Secci贸n Method */

/* Secci贸n Contact me */

.contenedor-contact {
    height: 70rem;
    width: 100vw;

    .contenedor-form {
        @include flexcenter ($display: inline-block);
        width: 60rem;
        height: auto;
        margin-left: 33.53125rem;

        .contenedor-form-intro {
            @include flexcenter ($display: inline-block);
            text-align: left;
            box-sizing: border-box;
        }

        .contenedor-name-email {
            display: inline-block;
            justify-content: space-around;
            align-items: center;
            text-align: left;
            box-sizing: border-box;
            margin: 2rem 0;

            .short-placeholder {
                width: 28.6875rem;
                height: 3.75rem;
                font: $title-omnes400;
                font-size: 1.5rem;
                color: #999999;
            }

            .text-area-size {
                width: 56.9375rem;
                height: 11rem;
                font: $title-omnes400;
                font-size: 1.5rem;
                color: #999999;
            }

            .button-style {
                background-image: linear-gradient(to right, #9766CC 0%, #D977C7 51%, #9766CC 100%);
                margin: 0.625rem;
                padding: 1.5rem 6rem;
                font: title-omnes700;
                text-align: center;
                font-size: 1.625rem;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                /* offset-x | offset-y | blur-radius | spread-radius | color */
                box-shadow: 0 0.5rem 1rem 0.2rem rgba(101, 77, 128, 0.2);
                border-radius: 0.625rem;
                display: block;
            }

        }

    }
}
    
    /* 
    ***************************** 
    ********** Motion ***********
    ***************************** 
    */
    
    /* Subrayado en hover */
    
    .underline-effect {
        display: inline-block;
        position: relative;
        color: $purple;
    }
    
    .underline-effect:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $pink;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }
    
    .underline-effect:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    
    /* Typing */
    
    .typing h2 {
        border-right: .15em solid $pink;
        font-family: omnes-cyrillic, sans-serif;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .typing h2:nth-child(1) {
        width: 7.3em;
        animation: type 2s steps(40, end);
        animation-fill-mode: forwards;
    }
    
    .typing h2:nth-child(2) {
        width: 12.5em;
        opacity: 0;
        animation: type2 2s steps(40, end);
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    
    .typing h2:nth-child(3) {
        width: 12em;
        opacity: 0;
        animation: type3 2s steps(40, end), blink 0.5s step-end infinite alternate;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }
    
    @keyframes type {
        0% {
            width: 0;
        }
    
        99.9% {
            border-right: .15em solid D977C7;
        }
    
        100% {
            border: none;
        }
    }
    
    @keyframes type2 {
        0% {
            width: 0;
        }
    
        1% {
            opacity: 1;
        }
    
        99.9% {
            border-right: .15em solid D977C7;
        }
    
        100% {
            opacity: 1;
            border: none;
        }
    }
    
    @keyframes type3 {
        0% {
            width: 0;
        }
    
        1% {
            opacity: 1;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }


    @import "mobile";

    @import "notebook";
    
    